{% extends 'news/post_detail.html' %}

{% load custom_filters %}


{% block title %}
{{ post.title }}
{% endblock title %}


{% block content %}
<article>
    <!-- Post header-->
    <header class="mb-4">
        <!-- Post meta content-->
        <div class="text-muted fst-italic mb-2">Публикация от {{post.date_create}}</div>
        <!-- Post categories-->
        <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{post.display_category}}</a>
    </header>
    <!-- Preview image figure-->
    <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.img.url }}" alt="..." /></figure>
    <!-- Post content-->
    <section class="mb-5">
        <h2 class="fw-bolder mb-4 mt-5">{{post.title|censor}}</h2>
        <p class="fs-5 mb-4">{{post.text|censor}}</p>
    </section>
    <div class="row pb-5">
        <div class="col">
            <a class="btn btn-outline-primary" href="{{post.pk}}/update">Редактировать</a>
            <a class="btn btn-outline-danger" href="{{post.pk}}/delete">Удалить</a>
        </div>
    </div>
</article>
{% endblock content %}