
{% extends 'news/posts_list.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
Поиск
{% endblock title %}


{% block content %}
<div class="col-12 pb-5">
    <h1>Найти публикацию</h1>
        <form method="GET">
    {{ filter.form }}
    <input class="btn btn-primary" type="submit" value="Найти">
</form>
</div>
{% if posts %}
<div class="row">
    <div class="col-lg-12">
        <!-- Blog post-->
        <div class="row">
            {% for post in posts %}
            <div class="col-lg-6">
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" src="{{ post.img.url }}" alt="..." /></a>
                    <div class="card-body">
                        <div class="small text-muted">{{ post.date_create }}</div>
                        <h2 class="card-title h4 pt-3 pb-3">{{ post.title|truncatechars:32 }}</h2>
                        <p class="card-text">{{ post.text|truncatechars:120|censor  }}</p>
                        <a class="btn btn-primary" href="{{ post.pk }}">Читать дальше 👀</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Pagination-->
<nav aria-label="Pagination pt-5">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}"><<</a></li>
            <li class="page-item"><a class="page-link" href="?{% url_replace page=1 %}">1</a></li>
            {% if page_obj.previous_page_number != 1 %}
            <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true"><<</a></li>
        {% endif %}

        <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>

        {% if paginator.num_pages != page_obj.next_page_number %}
            <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></li>
        {% endif %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?{% url_replace page=paginator.num_pages %}">{{ paginator.num_pages }}</a></li>
            <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">>></a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">>></a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock content %}